<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN 2.0//EN" "http://www.springframework.org/dtd/spring-beans-2.0.dtd">
<beans>

<bean id="triangle" class="org.kaushik.javabrains.Triangle" init-method="MyInit" destroy-method="MyDestroy">
<property name="pointA" ref="pointA"></property>
<property name="pointB" ref="pointB"></property>
<property name="pointC" ref="pointC"></property>
</bean>

<bean id="pointA" class="org.kaushik.javabrains.Point">
<property name="x" value="0"></property>
<property name="y" value="1"></property>
</bean>

<bean id="pointB"  class="org.kaushik.javabrains.Point">
<property name="x" value="20"></property>
<property name="y" value="21"></property>
</bean>

<bean id="pointC" class="org.kaushik.javabrains.Point">
<property name="x" value="30"></property>
<property name="y" value="31"></property>
</bean>

</beans>